extends ../layout

block content
  .player-headline
    h1= title
    p ##{ player.number }
  .actions
    a(href=`${player.url}/update`) Edit
    a(href=`${player.url}/delete`) Delete
  h2(style='margin-top: 25px')
    if player.team
      a.omit-before(href=player.team.url) #{ player.team.name }
    else
      | Free Agent
  if player.photo
    img.image(src=player.photo, alt=player.full_name)
  h3(style='margin-top: 25px') Player information:
  p #[b Position:] #{ player.position_name }
  p #[b Height:] #{ player.height } cm
  p #[b Weight:] #{ player.weight } kg
  p #[b Country:] #{ player.country_name }
  p #[b Age:] #{ player.age }
